{% extends 'base.html' %}

{% load render_table from django_tables2 %}

{% block title %}О сайте{% endblock %}

{% block nav_links %}
	<li><a href="/">Главная</a></li>
	<li><a href="/people">Люди</a></li>
	<li class="active"><a href="/about">О сайте</a></li>
	<li><a href="/contacts">Контакты</a></li>
{% endblock %}

{% block content %}
	<article class="aboutContent">
		<header>
			<h2>О сайте</h2>
		</header>

		<content>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</content>
	</article>
{% endblock %}