{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static "css/base.css" %}">
		<title>{% block title %}{% endblock %}</title>
			<!-- jquery block -->
			{% block jq_block %}
			{% endblock %}
	</head>

	<body class="body">
		<header class="mainHeader">
			<!--img src="{% static "img/{{ logo }}" %}" alt="logo"--> 
			<img src="{% static "img/logo.png" %}" alt="logo"> 

			<nav><ul>
				{% block nav_links %}
				{% endblock %}
			</ul></nav>
		</header>

		<div class="sidebar">
			<aside class="top-sidebar">
				<article>
					<h2>Sidebar</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
				</article>
			</aside>	
		</div>

		<div class="mainContent">
			<div class="content">
				{% block content %}
				{% endblock %}
			</div>	
		</div>

		<!-- <div class="clear"></div> -->

		
	</body>

	<footer class="mainFooter">
			<div class="bottom">
				<h2>bottom</h2>
				<ul>
					<li>Контакты</li>
					<li>Карта сайта</li>
					<li>Еще какая-нить ерунда</li>
				</ul>
			</div>

			<div class="copyright">
				<p>Copyright &copy; <a href="/" title="author">Intec</a> 2015</p>
			</div>
		</footer>
</html>