{% extends 'base.html' %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block title %}О сайте{% endblock %}

{% block nav_links %}
	<li><a href="/">Главная</a></li>
	<li class="active"><a href="/people">Люди</a></li>
	<li><a href="/about">О сайте</a></li>
	<li><a href="/contacts">Контакты</a></li>
{% endblock %}

{% block jq_block %}
	<link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}">
	<script src="{% static "js/jquery.js" %}"></script>
	<script src="{% static "js/jquery-ui.min.js" %}"></script>
	<script src="{% static "js/add_person.js" %}"></script>
{% endblock %}

{% block content %}
	<div id="block_content_div">
		<div id="dialog" title="Basic dialog" style="display: none">
		  <form id="person_dialog_form" action="add_person.js" method="post">{% csrf_token %}
		  	<p>Имя: <input title="Name" id="Name" name="Name"></input></p>
		  	<p>Фамилия: <input title="Surname" id="Surname" name="Surname"></input></p>
		  </form>
		</div>

		<article class="aboutContent">
			<header>
				<h2>Люди</h2>
			</header>


			<content id="content_with_table">
				{% render_table table %}
			</content>


			<button id="add_button">Add</button>
		</article>
	</div>
{% endblock %}