{% extends 'base.html' %}
{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block title %}О сайте{% endblock %}

{% block nav_links %}
	<li><a href="/">Главная</a></li>
	<li>/</li>
	<li class="active"><a href="/objects">Объекты кап. строительства</a></li>
	<li>/</li>
	<li><a href="/about">О сайте</a></li>
{% endblock %}

{% block jq_block %}
	<link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}">
	<script src="{% static "js/jquery.js" %}"></script>
	<script src="{% static "js/jquery-ui.min.js" %}"></script>
	<script src="{% static "js/add_object.js" %}"></script>
{% endblock %}

{% block content %}
	<div id="block_content_div">
		<div id="dialog" title="Basic dialog" style="display: none">
		  <form id="adding_form" action="add_object.js" method="post">{% csrf_token %}
		  	<p>Уникальный номер точки (ID): <input title="Point_ID" id="Point_ID" name="Point_ID"></input></p>
		  	<p>Расположение: <input title="Location" id="Location" name="Location"></input></p>
		  	<p>IP-адрес: <input title="IP_address" id="IP_address" name="IP_address"></input></p>
		  	<p>Тип: <input title="Type" id="Type" name="Type"></input></p>
		  	<p>ID узла сети: <input title="Node_ID" id="Node_ID" name="Node_ID"></input></p>
		  	<p>Примечания: <input title="Notes" id="Notes" name="Notes"></input></p>
		  </form>
		</div>

		<article class="aboutContent">
			<header>
				<h2>Объекты кап.строительства</h2>
			</header>


			<content id="content_with_table">
				{% render_table table %}
			</content>


			<button id="add_button">Add</button>
		</article>
	</div>
{% endblock %}