#add_button {
	background: #f25918;
	background-image: linear-gradient(to bottom, #f25918, #a63b28);
	border-radius: 6px;
	text-shadow: 1px 1px 3px #666666;
	font-family: Georgia;
	color: #FFF;
	font-size: 15px;
	padding: 1% 5% 1% 5%;
	text-decoration: none;
}

#add_button:hover {
	background-image: linear-gradient(to bottom, #fca63c, #d67233);
}