body {
	background-color: #EEE;
}

.container {
	background-color: white;
	width: 97%;
	margin-left: auto;
	margin-right: auto;
}

.header {
	background-color: #66CCFF;
	color: white;
	text-align: center;
}

.main_container {
	padding: 2%;
}

.sidebar {
	float: left;
	width: 20%;
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
}


.content {
	background-color: yellow;
	text-align: center;
	float: right;
}

.footer {
	clear: both;
	width: 100%;
	background-color: #66CCFF;
	text-align: center;
}

h1, h2, h3 {
	margin: 0;
}