/*  	table of objects css	*/

.table {
	border: 1px solid grey;
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

.table th {
	text-align: center;
	border: 1px solid grey;
	background-color: #D4D4D4;
}

.table td {
	border: 1px solid grey;
	padding-left: 2%;
	background-color: #F0F0F0;
}
